.env
node_modules/
dist/
*.log
.env.local
.env.*.local
.env.production
.env.*.production
.env.development
.env.*.development
.env
.nuxt
.DS_Store
*.pem
apps/*/.env
packages/*/.env
apps/*/node_modules
apps/*/dist
apps/*/.env.local
apps/*/.env.development
apps/*/.env.production
.turbo/
.vscode
.vercel
